<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.wechat.repository.TechMapper">
  <resultMap id="BaseResultMap" type="me.zhengjie.modules.wechat.entity.Tech">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="worker_no" jdbcType="VARCHAR" property="workerNo" />
    <result column="order_num" jdbcType="TINYINT" property="orderNum" />
    <result column="complete_num" jdbcType="TINYINT" property="completeNum" />
    <result column="last_order_time" jdbcType="TIMESTAMP" property="lastOrderTime" />
    <result column="phone_num" jdbcType="CHAR" property="phoneNum" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="admin_id" jdbcType="BIGINT" property="adminId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, open_id, status, worker_no, order_num, complete_num, last_order_time, phone_num, 
    name, admin_id
  </sql>
  <select id="selectByExample" parameterType="me.zhengjie.modules.wechat.entity.TechExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tech
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tech
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tech
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="me.zhengjie.modules.wechat.entity.TechExample">
    delete from tech
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="me.zhengjie.modules.wechat.entity.Tech">
    insert into tech (id, open_id, status, 
      worker_no, order_num, complete_num, 
      last_order_time, phone_num, name, 
      admin_id)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{workerNo,jdbcType=VARCHAR}, #{orderNum,jdbcType=TINYINT}, #{completeNum,jdbcType=TINYINT}, 
      #{lastOrderTime,jdbcType=TIMESTAMP}, #{phoneNum,jdbcType=CHAR}, #{name,jdbcType=CHAR}, 
      #{adminId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="me.zhengjie.modules.wechat.entity.Tech">
    insert into tech
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="workerNo != null">
        worker_no,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="completeNum != null">
        complete_num,
      </if>
      <if test="lastOrderTime != null">
        last_order_time,
      </if>
      <if test="phoneNum != null">
        phone_num,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="workerNo != null">
        #{workerNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=TINYINT},
      </if>
      <if test="completeNum != null">
        #{completeNum,jdbcType=TINYINT},
      </if>
      <if test="lastOrderTime != null">
        #{lastOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="me.zhengjie.modules.wechat.entity.TechExample" resultType="java.lang.Long">
    select count(*) from tech
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tech
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.workerNo != null">
        worker_no = #{record.workerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=TINYINT},
      </if>
      <if test="record.completeNum != null">
        complete_num = #{record.completeNum,jdbcType=TINYINT},
      </if>
      <if test="record.lastOrderTime != null">
        last_order_time = #{record.lastOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.phoneNum != null">
        phone_num = #{record.phoneNum,jdbcType=CHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=CHAR},
      </if>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tech
    set id = #{record.id,jdbcType=INTEGER},
      open_id = #{record.openId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      worker_no = #{record.workerNo,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=TINYINT},
      complete_num = #{record.completeNum,jdbcType=TINYINT},
      last_order_time = #{record.lastOrderTime,jdbcType=TIMESTAMP},
      phone_num = #{record.phoneNum,jdbcType=CHAR},
      name = #{record.name,jdbcType=CHAR},
      admin_id = #{record.adminId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="me.zhengjie.modules.wechat.entity.Tech">
    update tech
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="workerNo != null">
        worker_no = #{workerNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=TINYINT},
      </if>
      <if test="completeNum != null">
        complete_num = #{completeNum,jdbcType=TINYINT},
      </if>
      <if test="lastOrderTime != null">
        last_order_time = #{lastOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneNum != null">
        phone_num = #{phoneNum,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.zhengjie.modules.wechat.entity.Tech">
    update tech
    set open_id = #{openId,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      worker_no = #{workerNo,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=TINYINT},
      complete_num = #{completeNum,jdbcType=TINYINT},
      last_order_time = #{lastOrderTime,jdbcType=TIMESTAMP},
      phone_num = #{phoneNum,jdbcType=CHAR},
      name = #{name,jdbcType=CHAR},
      admin_id = #{adminId,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>